body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    line-height: 2em;
}

.buttonWrap {
    text-align: center;
    margin-top: 30px;
}

button {
    padding: 1em;
    margin: auto;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}

#debugger {
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    color: #eee;
    padding: 4px;
    display: none;
}

.waveTrack{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.playpause{
    text-align: center;
    padding-top: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.equalizerBars{
    text-align: center;
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.equalizerTitle {
}

#menu8 ul { list-style: none; margin: 0; padding: 0; }
#menu8 img { border: none; }
#menu8 { width: 200px; margin-top: 10px; }
#menu8 li a { text-decoration: none; height: 32px; font-family: Verdana, Arial, Helvetica, sans-serif; margin: 0; font-size: 10pt; font-weight: bold; background: #FFF; height: 24px; }
#menu8 li a:link,
#menu8 li a:visited { color: #777; display: block; background: url(http://lh3.ggpht.com/_7wsQzULWIwo/Sze6vCsjMXI/AAAAAAAACqY/iRErP3OUIiE/s800/menu8.gif); padding: 8px 0 0 20px; }
#menu8 li a:hover,
#menu8 li,
#current { color: #257EB7; background: url(http://lh3.ggpht.com/_7wsQzULWIwo/Sze6vCsjMXI/AAAAAAAACqY/iRErP3OUIiE/s800/menu8.gif) 0 -32px; padding: 8px 0 0 25px; }
#menu8 li a:active { color: #fff; background: url(http://lh3.ggpht.com/_7wsQzULWIwo/Sze6vCsjMXI/AAAAAAAACqY/iRErP3OUIiE/s800/menu8.gif) 0 -64px; padding: 8px 0 0 25px; }